body {
    background: grey;
}

body {
    margin: 0 auto;
    max-width: 400px;

}

h1 {
    border-bottom: 4px double #ccc;
}

/* Nav*/

nav ul{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav {
    padding-bottom: 20px;
}

/* Footer */

.site-footer {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto;
    gap: 20px;
    font-size: 14px;
    color: #333;

}
.site-footer p {
    margin: 0;
}
.site-footer p a {
    color: #333;
    text-decoration: none;
}
.site-footer p a:hover {
    text-decoration: underline;
}

/* About */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

/* LUCKY */

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes boldOnOff {
    0% {
        font-weight: 400;
    }
    50% {
        font-weight: 800;
    }
    100% {
        font-weight: 400;
    }
  }

.lucky {
    padding: 100px 40px;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    background-size: 200% 200%;
    align-items: center;
    animation: moveGradient 400ms ease infinite;
    justify-content: center;
}

.lucky p {
    animation: boldOnOff 200ms ease infinite;
}

/* Flash */

.flash-notice {
    background: green;
    padding: 20px 40px;
    font-weight: 800;
    text-align: center;
}

.flash-warning {
    background: red;
    padding: 20px 40px;
    font-weight: 800;
    text-align: center;
}