{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Blackjack:</h1>
    <br>
    <br>

    <h3> Dealer <h3>

    {% for card in dealer.getHand() %}
        <div class="card {{card.getSuit()|lower}}"><span>{{card.getUnicodeCard()}}</span></div>
    {% endfor %}

    <br>
    <br>

    <h3> Spelare 1 <h3>

    {% for card in player.getHand() %}
        <div class="card {{card.getSuit()|lower}}"><span>{{card.getUnicodeCard()}}</span></div>
    {% endfor %}

{% endblock %}