{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game: 21</h1>
    <p>Välkommen till landningssidan för game.</p>
    <ul>
        <li><a href="{{ path('game/doc') }}">Till dokumentationssidan (game/doc)</a></li>
        
    </ul>
    <br>
    <h2>Kort text om spelet 21.</h2>
    <p></p>
{% endblock %}