{% extends "base.html.twig" %}

{% block title %}Game - Dokumentation{% endblock %}

{% block body %}
    <h1>Game 21: dokumentation</h1>
    <ul>
        <li><a href="{{ path('game') }}">Tillbaka</a></li>
    </ul>
    <br>
{% endblock %}