{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <div class="about">
        <p>Välkommen till om-sidan. Kursen MVC handlar om bygga hemsidor med arktitekturen MVC (model-view-controller). MVC är en designmönster som används för att separera applikationens logik från dess presentation. Det gör det enklare att underhålla och utveckla applikationen. Denna hemsida består just nu av ett par routes, varvid en är ett en api route som ger dig ett random dagens qoute.</p>
        <a href="{{ asset('build/images/about.png') }}">
        <p style="font-size: 10px;">Representativ bild av kursen</p>
        <img src="{{ asset('build/images/about.png') }}" alt="" style="width: 120px;">
        </a>
        <a href="https://github.com/elk-git/mvc-report">Github repo</a>
    </a>
    </div>
{% endblock %}