{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>
    <ul>
        <li><a href="">go to /card/deck</a></li>
        <li><a href="">go to /card/deck/shuffle</a></li>
        <li><a href="">go to /card/deck/draw</a></li>
    </ul>
    <br> 
{% endblock %}